@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

:root {
  --primary: #fe2c55;
  --text-color: #161823;

  // Default Layout
  --defaut-layout-header-height: 60px;
  --defaut-layout-width: 1150px;
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
button,
[tabindex] {
  border: none;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  overflow-y: overlay;
}

.flex {
  display: flex;
}
