.wrapper {
  height: var(--defaut-layout-header-height);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--defaut-layout-width);
  display: flex;
  justify-content: space-between;
}